 <!-- Sidebar Start -->
 <div class="col-xs-6 col-sm-4 sidebar-offcanvas pull-right" id="sidebar" role="navigation">
  <div class="pf-sidebar header NoAffix footnote" id="sideNav" role="complementary">
    <ul class="nav black pf-sidenav">
      <li id="to_pathway"> <a class="jump_anchor" href="#"> <span class="caret"></span> Pathway</a> </li>
      <li id="to_advising"> <a class="jump_anchor" href="#advising-section"> <span class="caret"></span> Pathway Advising</a> </li>
      <li id="to_after"> <a class="jump_anchor" href="#after-section"> <span class="caret"></span> After Pathway </a> </li>
      <li id="to_sp"> <a class="jump_anchor" href="#sp-section"> <span class="caret"></span> Speaking Partners</a> </li>
    </ul>
  </div>
</div>
<!-- End Sidebar -->