<!-- Sidebar Start -->
<div class="col-xs-6 col-sm-4 sidebar-offcanvas pull-right" id="sidebar" role="navigation">
  <div class="pf-sidebar header NoAffix footnote" id="sideNav" role="complementary">
    <ul class="nav darkgreen pf-sidenav">
      <li {% if (page.title == blank) %} class="active" {% endif %}> <a href="{{site.baseurl}}pages/speaking_partners/what-is-speaking-partners.html"> <span class="caret"></span> Speaking Partners</a> </li>
      <li {% if page.title == "Sign Up / Find a Partner" %} class="active" {% endif %}> <a href="{{site.baseurl}}pages/speaking_partners/signup.html"> <span class="caret"></span> Sign Up / Find&nbsp;A&nbsp;Partner</a> </li>
      <li {% if page.title == "Discussion Materials" %} class="active" {% endif %}> <a href="{{site.baseurl}}pages/speaking_partners/discussion-materials.html"> <span class="caret"></span> Discussion Materials</a>
      </li>
      <li {% if page.title == "Guidelines for Mentors" %} class="active" {% endif %}> <a href="{{site.baseurl}}pages/speaking_partners/guidelines.html"> <span class="caret"></span> Guidelines for Mentors</a>
      </li>
      <li {% if page.title == "Contact Us" %} class="active" {% endif %}> <a href="{{site.baseurl}}pages/speaking_partners/contact-us.html"> <span class="caret"></span> Contact Us</a>
      </li>
      <li> <a href="{{site.baseurl}}pages/pathway-faq.html#sp-section"> <span class="caret"></span> FAQ</a>
      </li>
    </ul>
  </div>
</div>
<!-- End Sidebar -->