/*The first heading on any page*/
.page-title { 
	font-family: Georgia, serif;
	font-size:265%;
	margin-bottom: 10px;
	margin-bottom: 0;
}


/*The text following the title*/
.page-summary {
	font-size:120%;
	font-style: italic;
}


/*The second heading on most pages*/
.subheading {
	font-size:190%;
	text-transform: uppercase;
	font-weight: bold;
	&.blue{
		color:$navy_blue;
	}
	&.green{
		color:$green;
	}
	&.turquoise{
		color:$turquoise;
	}
}

/*Paragraph Headings*/
.p-heading{
	font-size:140%;
	font-style: italic;
	margin: 20px 0 5px 0;
	&.red{
		color:$red;
	}
	&.turquoise{
		color:$turquoise;
	}
	&.blue{
		color:$navy_blue;

	}
	&.green{
		color:$green;
	}
}

.p-heading2{
	font-size:100%;
	text-transform: uppercase;
	font-weight:bold;
	margin-top: 25px;
	&.red{
		color:$red;
	}
	&.turquoise{
		color:$turquoise;
	}
	&.blue{
		color:$navy_blue;

	}
	&.green{
		color:$green;
	}
}

.p-heading3{
	font-size:100%;
	text-transform: uppercase;
	display:inline;
	margin-bottom:0px;
	&.red{
		color:$red;
	}
	&.turquoise{
		color:$turquoise;
	}
	&.blue{
		color:$navy_blue;

	}
	&.green{
		color:$green;
	}
}

.p-heading4{ 
	font-style:italic; 
	font-size: 110%;
	&.blue{ /*local leaders*/
		color:$navy_blue;
	}
}





/*The main text on the page*/
.main-content {
	padding-right:40px;	
}
@media screen and (max-width: 767px) {
	.main-content {
		padding-right:15px;
	}
}

#footnote{
	font-size:100%;
	font-style: italic;
	border-top:solid #555555 2px;
	padding-top:25px;
	color:#959595;
}

.credit{
	font-size:100%;
	padding-top:25px;
	text-transform: uppercase;
	color:#666666;
	margin-bottom: 40px;
}

/*The text next to a clickable icon*/
.click-here{
	font-style: italic;
	font-size: 110%;
	display:table-cell;
	vertical-align: middle;
	height: 70px;
	/*padding-left:10px;*/
	&.red{
		color:$red;
			a{
				text-decoration: underline;
				color:$red;
			}
	}
	&.turquoise{
		color:$turquoise;
			a{
				text-decoration: underline;
				color:$turquoise;
			}
	}
	&.blue{
		color:$navy_blue;
			a{
				text-decoration: underline;
				color:$navy_blue;
			}
	}
}

/*The location pin icon*/
#location-icon{
	float:left;
	position:relative;
	z-index:2;
	margin-right:10px;

}

#video-info-block{
	padding: 20px 0 20px 0;
}

.caption-block{
	padding: 20px 0 20px 0;
	font-style: italic; 
	font-size: 120%;
	&.red{
		color:$red;
	}
	&.green{
		color:$green;
	}
}

.play-button{
	display:inline;
	float:left;
	height:36px;
	width:39px;
	margin-right:10px;
	margin-bottom: 20px;
}
.note{
	font-style: italic;
	font-size: 110%;
	display:inline;
	/*padding-left:10px;*/
	/*margin-bottom: 20px;*/
	&.blue{
		color:$navy_blue;
	}
	&.red{
		color:$red;
	}
	&.turquoise{
		color:$turquoise;
	}
	&.green{
		color:$green;
	}
}

.local-quote{
	font-size:140%;
	font-style: italic;
	color:$navy_blue;
	float:left;
	display:inline;
	line-height:160%;
}

.info-block{
	font-style: italic;
	color: #666666;
	display:inline;
}

#faqbubble{
	margin-top:15px;
}

.img-space {
	margin: 20px 0 40px 0;
}

#adm-img{
	position:relative;
	z-index:1;
	/*margin-top:-20px;*/
}

.indent{
	margin: 0 60px 0 50px;
}

ol{
	li{
		margin-bottom: 25px;
	}
}
ul{
	li{
		margin-bottom: 10px;
	}
}

.highlight{
	font-style:italic;
	&.green{
		color:$green;
	}
	&.red{
		color:$red;
	}
}

.previous{
	margin-top: 50px;
	padding-bottom: 20px;
	font-style:italic; 
	font-weight: bold;
	float:left;
	&.blue{
		color:$navy_blue;
	}
	&.red{
		color:$red;
	}
	&.turquoise{
		color:$turquoise;
	}
	&.green{
		color:$green;
	}
}

.next{
	margin-top: 50px;
	padding-bottom: 20px;
	font-style:italic; 
	font-weight: bold;
	float:right;
	&.blue{
		color:$navy_blue;
	}
	&.red{
		color:$red;
	}
	&.turquoise{
		color:$turquoise;
	}
	&.green{
		color:$green;
	}
}

/*hr.line{
	&.turquoise{
	    color:$turquoise;
	    width:100%;
	    height:3px;
	}   
}*/

/*makes videos responsive*/
.responsive-video-container {
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 35px; 
	margin-top: 15px;
	margin-bottom: 20px;
	height: 0; 
	overflow: hidden; 
	&.wip{
		margin-top: 15px;
	}
	&.sp{
		margin-top: 15px;
	}
}
.responsive-video-container iframe { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%
}



// ******************
//      CONSTANTS
// ******************
/*$red: 	#cb4830;
$teal: 	#1b8080;
$gray: 	#666;

$page_header_logo_width: 51px;
$page_header_logo_offset: 13px;
$page_header_logo_position: $page_header_logo_width + $page_header_logo_offset;*/

@mixin box-shadow ($parameters) {
	-webkit-box-shadow: $parameters;
	-moz-box-shadow:    $parameters;
	box-shadow:         $parameters;
}

/**************************
   PF-SECTION STYLE SHEET
 **************************/
.hero {
	@media (min-width: 480px) {
		padding-left: 64px;
	}
	
	&.no-icon {
		padding-left: 0 !important;
	}
}

.pf-section {
	@media (min-width: 480px) {
		padding-left: 64px;
	}
	&.no-icon{
		padding-left: 0 !important;
	}
	
	/*a {color:$red;}*/
	
/*	h3 {
		color: $red;
	}	*/
/*	h4 {
		color: $teal;
	}*/	
	h5 {
		color: #666;
	}	
	p {
		/*text-transform: none;*/
		@media (max-width: 479px) {
			font-size:16px;
		}
}
	
	.formula {
		width:75%;
		text-align:center;
		margin:0 auto;
		font-size:1.5em;
		background-color:$pathway-orange;
		color:white;
		padding:10px;
		@include box-shadow(7px 7px 10px rgba(50, 50, 50, 0.34));
		/* .part1 {
			color:$turquoise;
		}
		.part2 {
			color:$navy_blue;
		}
		.part3 {
			color:$red;
		} */
	}
}

.pf-page-header {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	

	img {
		margin-top:15px;
		position: absolute;
		margin-left: -64px;
		@media (max-width: 479px) {
			display:none;
		}
	}
	
	p {
		text-transform: none;
	}

}
