/************************
	SIDE BAR STYLE SHEET
 ************************/
@import "colorScheme";

//constants
$dark_gray:	#ddd;
$link_color: #fff;
$canvas_shift_amt: 250px;

html, body { 
	height:100%; 
}

body {
	position: relative;
}

.text-center { padding-top: 20px; }
 
.navbar-toggle {
	$direction: right;
	float: $direction;
	margin-#{$direction}: 0px;
}

.sidebar-btn {
	background-color:$sidebar_gray;
	height: 35px;
	img {
		vertical-align:initial;
	}
	.icon-bar {
		background-color:$body-text;
	}
	#arrow-icon.inverse {
		-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
       	transform: scaleX(-1);
       	filter: FlipH;
       	-ms-filter: "FlipH";
	}
}

.mobile_s-l {
	overflow:hidden;
	position:relative;
	width:100%;
	p {
		padding:5px;
		width:50%;
		display:block;
		float:left;
		.caption {
			display:block;
			padding-top:5px;
			font-weight:bold;
			text-style:italic;
			margin:0 10px;
		}
		img {
			width:100%;
		}
	}
}
@media screen and (max-width: 485px) {
	.mobile_s-l {
		p {
			width:100%;
			.caption {
				font-size:110%;
			}
		}
		
	}
}
 
#sidebar {
	$logo_size:45px;
	padding-bottom:200px;
	position: relative;
	background-color: $sidebar-gray;
	border-right: solid white 15px;
	@include padding(left right, 30px);
	
	.sidebar-caret {
		position: absolute;
		width: 0; 
		height: 0;
		left: -24px;
		border-top: 24px solid transparent;
		border-bottom: 24px solid transparent; 
		border-right: 24px solid $sidebar-gray;
		&.pos1 {
			top: 17px;
		}
		&.pos2 {
			top: 77px;
		}
		&.pos3 {
			top: 144px;
		}
	}
	
	.header {
		$offsetRatio: (1/3);
		$offset:$logo_size * $offsetRatio;

		@include padding(top, 40px);
			
		a {
			&.no-highlight {
				padding:0;
				background:none;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
		
		p {
			text-transform: none;
			@include padding(top, 10px);
			color:$navy_blue;
		}
	}
	
	.nav {
		font-weight:bold;
		text-transform:uppercase;
		p {
			font-weight:normal;
			text-transform:none;
		}
		.nav {
			display: none;
			padding-left:.8em;
			font-weight:normal;
			text-transform:none;
			li {
				&:last-child{
					margin-bottom: 5px;
				}
			}
		}
				
		.caret {
			@include caret("right", $body-text);
		}
		
		a:hover {
			.caret {
				@include caret("right", $body-text);
			}
		}
		
		li {
			margin-bottom: -9px;
			&.active {
				.nav {
					display:block;
				}
			}
			a, a:hover, a:visited {
						color: $body-text;
			}
			.caret {
				float: left;
				margin: 7px 6px 10px 0;
			}
					
		}
		@for $i from 1 through 7 {
			&.#{nth($nav_color_labels, $i)}{
				li {
					&.active {
						color: nth($nav_color_list, $i);
			
						a, a:hover, a:visited {
							color: nth($nav_color_list, $i);
						}
				
						.caret {
							@include caret("down", nth($nav_color_list, $i));
							&.down {
								@include caret("down", nth($nav_color_list, $i));
							}
						}
			
						a:hover {
							.caret {
								@include caret("down", nth($nav_color_list, $i));
								&.down {
									@include caret("down", nth($nav_color_list, $i));
								}
							}
						}
					}
				}
			}
		}
		
		
	}
	
	
	#sideNav {
		h3 {
			a {
				text-transform: uppercase;
				color: rgba(#222, .5);
				font-weight: bold;
				font-size: 90%;
				letter-spacing: 2px;
				
				&.active {
					color: #222;
					img {
						opacity:1;
					}	
				}
				img {
					width:45px;
					height:44px;
					opacity:0.5;
				}
			}
		}
		
		@media (max-width: 992px) {
			font-size:13px;
			.nav .nav {
				padding-left:0.8em;
			}
			h3 {
				font-size:20px;
			}
		}
	}
}

/***************
	 SIDE BAR
	 For Tablets
 ***************/

@media screen and (max-width: 767px) {
	
/************
	 SIDE BAR
 ************/	
	#sidebar {
		position: absolute;
		width: $canvas_shift_amt;
		border-right:none;
		display:none;
		z-index: -99;
		top:0;
		

		#sideNav {
			width:100%;
			&.affix {
				position: absolute;
				width:auto;
			}
		}
		
		&.open-mobile {
			display:block;
			right: -250px;
		}
				
		.nav {
			li {
				
				&:first-child { border-top: 0; }
				
				&:active {
					.nav { display:block; }
					a {											
						.caret {
							border-left-color: $body-text;
							border-top-color: transparent;
							border-bottom-color: transparent;
						}
						
						&:hover, &:focus {					
							.caret {
								border-left-color: $body-text;
								border-top-color: transparent;
								border-bottom-color: transparent;
							}
						}
					}
				}
				
				a {
					img { max-width: 14px; }
					
					.caret {
						border-left-color: $body-text;
						border-top-color: transparent;
						border-bottom-color: transparent;
					}
					
					&:hover, &:focus {
						.caret {
							border-left-color: $body-text;
							border-top-color: transparent;
							border-bottom-color: transparent;
						}
					}
				}				
			}
		}
	}	
}