/*********************
   Header & Footer
*********************/

// Colors:
@import "colorScheme";

/****** Header ******/
.pathway-header {
	padding: 0px;
	background-color: $pathway-orange !important;
	//box-shadow: 0px 5px 20px rgba(0,0,0,.3);
	height:139px;
	border: none;
	z-index: 5;
	border-radius: 0;
}

#pathway-mobile-logo {
	display: block;
	position: relative;
	left: 50%;
	margin-left: -96px;
	margin-top:8px;
	height:46px;
	width: 160px;
	background:url(../img/logo_retina.png);
	background-repeat:no-repeat;
	background-size:150px auto;
	background-position:center;
}

#pathway-logo {
	background:url(../img/logo.png);
	background-repeat:no-repeat;
	background-position:15px center;
	height:135px;
	width:450px;
}

@media only screen and (min--moz-device-pixel-ratio: 2),

only screen and (-o-min-device-pixel-ratio: 2/1),

only screen and (-webkit-min-device-pixel-ratio: 2),

only screen and (min-device-pixel-ratio: 2) {
	#pathway-logo {
		background:url(../img/logo_retina.png);
		background-position:15px center;
		background-size:280px auto;
		background-repeat:no-repeat;
	}
}

.header_contact {
	text-transform:none;
	color:#4d4d4d !important;
	font-size:110%;
	img {
		vertical-align:text-top;
	}
	&:hover {
		text-decoration:underline !important;
	}
}

.orange-bar {
	float: none !important;
}

.header-column {
	margin-bottom:0;
}

.faq-bubble {
	vertical-align: top;
}

.navbar-brand {
	float: none;
}

.navbar {
	margin-bottom: 0;
}

.signin-btn {
	background-color:$signin-btn;
	color:white;
	font-weight:bold;
	letter-spacing:1.1px;
}

@media (min-width: 768px) {
	.signin-btn {
		height:50px;
		margin-top:-5px;
		padding-top: 14px;
	}
}
#siteNavigation {
	padding:0;
	border:none;
}
.site-navigation {
	display: block;
	background: none;
	border: none;
	border-radius: 0;
	min-height:0;
	border-bottom: #a0a0a0 solid 1px;
	
	nav {
		max-height:none;
	}
	
	ul {
		float: left;
		width:100%;
		text-transform:uppercase;
		
		li {
			margin-bottom: 0px;
			text-align: center;
			display: table;
			border-left: #a0a0a0 solid 1px;
			width: 20%;
			height: 50px;
			font-size: 85%;
			
			&:first-child {
				border-left: none;
			}
			
			// Set navigation box color
			@for $i from 1 through 5 {
				&.nav-#{$i}.nav_active {
						background-color: nth($nav_color_list, $i);
						a {
							color: $nav_hover_color;
						}
				}
				&.nav-#{$i} {
					a {
						border-bottom: solid 6px;
						border-bottom-color: nth($nav_color_list, $i);
					}
					a:hover {
						background-color: nth($nav_color_list, $i);
						color: $nav_hover_color;
					}
				}
			}
			
			a {
				display: table-cell;
				letter-spacing: 2px;
				color: #4d4d4d !important;
				font-weight: bold;
				font-size: 100%;
				vertical-align: middle;
				line-height: 16px;
				padding: 0 15px;
			}
		}
	}
}

.main_toggle{
	position: absolute;
	top: -91px;
	left:0;
	margin: 33px;
	margin-left: 12px;
	z-index: 5;
	background-color:$signin-btn;
	border:none;
}

@media (max-width: 767px) {
	.navbar-inverse {
		border:none !important;
	}
	.site-navigation {
	
		border:none !important;
		 ul {
			margin: 0px;
		
			li {
				width: 100%;
				border: 0;
				
				@for $i from 1 through 5 {
				&.nav-#{$i} {
					a {
						border-bottom: solid 1px;
						border-bottom-color: $sidebar-gray;
					}
				}
			}
				
			}
		}
	}
	
	#siteNavigation {
		padding: 0;
	}
	
	div.pathway-header {
		.header-column {
			width: 33.3%;
			float: left !important;
		}
		
		.navbar-right {
			margin-top: 15.5px;
			margin-right: 12px;
		}
	}
	
	.orange-bar {
		margin: 7.5px -15px;
	}
	
}

/****** Footer ******/

footer {
	line-height: 45px;
	border-top: #b3b3b3 solid 1px;
	border-radius: 0;
	text-transform:uppercase;
	
	.navbar-nav {
		margin:0;	
	}
}

.byui-logo {
	display:block;
	width:78px;
	height:46px;
	float:right;
	margin-top: 5px;
	background:url(../img/byui_logo.png);
}

@media only screen and (min--moz-device-pixel-ratio: 2),

only screen and (-o-min-device-pixel-ratio: 2/1),

only screen and (-webkit-min-device-pixel-ratio: 2),

only screen and (min-device-pixel-ratio: 2) {
	.byui-logo {
		background:url(../img/byui_logo_retina.png);
	}
}

.footer-links{
	
	padding: 37px 0;
	
	li {
		a {
			color:$body-text;
			padding:0 21px;
			margin:0;
			display:inline;
			
			&.social-icon{
				margin:2px;
				padding:0;
			}
			
			&:hover {
				background:none;
				text-decoration:underline;
			}
		}
		&:first-child{
			border-right: solid 1px;
			padding-left:0px;
			padding-right:21px;
			line-height: 34px;
		}
		&.footer-link {
			margin-top: 10px;
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.footer-links .footer-link {
		font-size: 92%;
		a {
			padding:0 13px;
		}
	}
}

/***** Mobile Footer *****/
@media (max-width: 767px) {
	footer {
		background: $sidebar-gray;
	}
	
	.pathway-header {
		height:83px;
	}
	
	.byui-logo {
		display:block;
		background:url(../img/byui_logo_retina.png);
		background-size:78px 46px;
		float:none;
		margin:auto;
	}
	
	.faq-bubble {
		vertical-align: super;
	}	
	
	.footer-links{
		li {
			font-weight:bold;
			font-size:110%;
			text-align:center;
			border-bottom:#CCC solid 1px;
			
			&:first-child {
				left:50%;
				margin-left:-117px;
			}
			a {
				display:block;
				margin:0;
				padding:30px;
				&:hover {
					text-decoration:none;
				}
				
				&.social-icon {
					float:left;
					max-width:50px;
					width:23%;
					height:auto;
					
					img {
						width:100%;
						height:auto;
					}
				}
				
				
			}
			&:first-child {
				overflow:hidden;
				width:240px; 
				border:none;
				padding:0;
			}
			&:last-child {
				border:none;
			}
		}
	}
}

/*** Signin Bug Fixes ***/
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color: $signin-btn;
	border-color: $signin-btn;
}

.dropdown-toggle {
	.caret {
		margin-top:-9px;
	}
}


@media (max-width: 767px) {

	
	.navbar-right .dropdown-menu {
		left: auto;
		right: 0;
	}

	.dropdown-toggle {
		padding: 6px 5px !important;
		.caret {
			margin-top:0;
		}
	}

	.signin-btn {
		padding: 6px;
	}

}
/************************/