{% if page.section != "Home" and (page.version == blank) %}
<!-- Breadcrumb start -->
<div class="breadCrumbHolder module hidden-xs">
    <div class="container">
        <div id="breadCrumb" class="breadCrumb module">
            <ul>
                <li class="first"><a href="{{site.baseurl}}">Home</a></li>
                <li {% if (page.title == blank) %} class="last" {% endif %}>{% if (page.sectionURL != blank) %}<a href="{{site.baseurl}}{{page.sectionURL}}">{% endif %}{{page.section | replace:"_", " "}}{% if (page.sectionURL != blank) %}</a>{% endif %}</li>
                {% for crumb in page.breadcrumbs %}
                <li class="{% for attr in crumb.attributes %} {{attr}} {% endfor %}" ><a {% if (crumb.url != blank) %} href="{{crumb.url}}"{% endif %}>{{crumb.title}}</a></li>
                {% endfor %}
                <li class="last">{{page.title}}</li> 
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->
{% elsif (page.section != "Home") %}
<!-- Breadcrumb start -->
<div class="breadCrumbHolder module hidden-xs">
    <div class="container">
        <div id="breadCrumb" class="breadCrumb module">
            <ul>
                <li class="first"><a href="{{site.baseurl}}">Home</a></li>
                <li><a href="{{site.baseurl}}pages/what_is_pathway/what_is_pathway.html">What Is Pathway</a></li>
                <li class="pipe-divider">{{page.version}} Version</li>
                {% if (page.breadcrumbs == blank) %}
                <li class="last lowercase">{{page.title}}</li>
                {% else %}
                {% for crumb in page.breadcrumbs %}
                <li class="lowercase"><a {% if crumb.url %}href="{{crumb.url}}"{% endif %}>{{crumb.title}}</a></li>
                {% endfor %}
                <li class="last lowercase">{{page.title}}</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->
{% endif %}