<footer>
  <div class="container">
    <div class="footer-links navbar">
      <ul class="nav navbar-nav">
        <li class="social-container"> 
          <a class="social-icon" alt="Pathway on Facebook" href="https://www.facebook.com/BYUIdahoPathway"><img alt="facebook icon" src="{{site.baseurl}}img/social-icons/facebook.png" width="27" height="27"></a><a class="social-icon" alt="Pathway on Pinterest" href="http://www.pinterest.com/byuipop/pathway-online-programs/"><img alt="pinterest icon" src="{{site.baseurl}}img/social-icons/pinterest.png" width="27" height="27"></a><br class="hidden-xs"><a class="social-icon" alt="Pathway on Twitter" href="https://twitter.com/BYUIdahoPathway"><img alt="Twitter icon" src="{{site.baseurl}}img/social-icons/twitter.png" width="27" height="27"></a><a class="social-icon" alt="Pathway on Instagram" href="http://instagram.com/Pathway_BYUIdaho"><img alt="Instagram icon" src="{{site.baseurl}}img/social-icons/instagram.png" width="27" height="27"></a>
        </li>
        <li class="footer-link hidden-xs"> <a href="http://www.byui.edu/pathway/news-index">Newsroom</a> </li>
        <li class="footer-link hidden-xs"> <a href="{{site.baseurl}}pages/about-us.html">About Us</a> </li>
        <li class="footer-link hidden-xs"> <a href="{{site.baseurl}}pages/pathway-faq.html"><img class="faq-bubble" alt="question-bubble" src="{{site.baseurl}}img/faqbubble_small.png" width="16" height="16">FAQ</a> </li>
        <li class="footer-link hidden-xs"> <a href="http://www.byui.edu/pathway/videos">Media</a>  </li>
        <li class="footer-link hidden-xs"> <a target="_blank" href="http://www.ldsphilanthropies.org/byu-idaho/funds/byuidaho-pathway.html">Donate</a> </li>
        <li class="footer-link hidden-xs"> <a target="_blank" href="https://byui.az1.qualtrics.com/SE/?SID=SV_3mwtzS9u0NgVnQV">Visit a Location</a> </li>
      </ul>
      <a href="http://www.byui.edu" class="byui-logo hidden-xs"><span class="sr-only">Go to byui.edu</span></a> </div>
  </div>
</footer>