<!-- Header Start -->
 <div class="navbar navbar-inverse signIn pathway-header" role="signIn">
  <div class="container">
    <ul class="nav orange-bar">
      <li class="header-column visible-xs pull-left">&nbsp;</li>
      <li class="header-column pull-left"> <a id="pathway-logo" title="pathway logo" class="navbar-brand img-responsive hidden-xs" href="{{site.baseurl}}"><span class="sr-only">Pathway: In Partnership With BYU-Idaho</span></a> <a id="pathway-mobile-logo" title="pathway mobile logo" class="center-block navbar-brand visible-xs" href="index.htm"><span class="sr-only">Pathway: In Partnership With BYU-Idaho</span></a></li>
      <li class="header-column pull-right"> <a class="header_contact hidden-xs pull-left" href="{{site.baseurl}}pages/advising-and-support.html">Contact Us <img src="{{site.baseurl}}img/speechbubble.png" width="13" height="11" alt="speech"></a>
       <form class="navbar-right pull-right ng-pristine ng-valid">
        <!-- Sign-in / User button -->
        <div class="btn-group">
          <a class="btn signin-btn" style="text-decoration: none;text-transform: none;" href="{{site.baseurl}}"><span class="hidden-xs">{{site.demoStudent | truncatewords: "1" | remove: "..." | truncate: "8", ""}}</span><img class="visible-xs" alt="user icon" src="{{site.baseurl}}img/usernameman.png" style="padding:0 10px; height:20px;"></a>
          <button type="button" class="btn signin-btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Student ID: {{site.studentID}}
            </a></li>
            <li class="divider"></li>
            <li><a href="/Home/PersonalInfo">Update Personal Info</a></li>
            <li><a href="/Application/Index/66">Reapply</a></li>
            <li class="divider"></li>
            <li><a style="text-decoration: none;" href="/Account/LogOff">Logout</a></li>
          </ul>
        </div>
      </form>
    </li>
  </ul>
</div>
</div>

<!-- Pathway Section Navbar Start -->
<div class="navbar navbar-inverse site-navigation" role="navigation">
  <div id="main_nav" class="container">
    <div class="navbar-header">
      <button type="button" class="main_toggle navbar-toggle" data-toggle="collapse" data-target="#siteNavigation"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    </div>
    <nav id="siteNavigation" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="nav-1 {% if page.section == "Testimonials" %}nav_active{% endif %}"><a href="{{site.baseurl}}pages/testimonials/testimonials.html">Testimonials</a></li>
        <li class="nav-2 {% if page.section == "What is Pathway" %}nav_active{% endif %}"><a href="{{site.baseurl}}pages/what_is_pathway/what_is_pathway.html">What Is Pathway</a></li>
        <li class="nav-3 {% if page.section == "Join Pathway" %}nav_active{% endif %}"><a href="{{site.baseurl}}pages/join-pathway.html">Join Pathway</a></li>
        <li class="nav-4 {% if page.section == "Speaking Partners" %}nav_active{% endif %}"><a href="{{site.baseurl}}pages/speaking_partners/what-is-speaking-partners.html">Speaking Partners</a></li>
        <li class="nav-5 {% if page.section == "Local Leaders" %}nav_active{% endif %}"><a href="{{site.baseurl}}pages/local_leaders/using-pathway.html">Local Leaders</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- Pathway Section Navbar Start -->
<!-- Header End --> 
