---
---

@import "global";
@import "FunctionLibrary";
@import "header-footer";
@import "sidebar";
@import "content_body";
@import "BreadCrumb";


.s-heading{
	color:$red;
	text-transform: uppercase;
	font-size: 125%;
	font-weight:bold;
}

.s-heading2{
	text-transform: uppercase;
	font-size: 115%;
	font-weight: 200;

}

.live_chat_icon {
	img {
		width:200px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.live_chat_icon {
		img {
			width:180px;
		}
	}
}


@media (min-width: 992px) {
	.live_chat_icon {
		img {
			width:250px;
		}
	}
}

/*Stuff!!!*/