<!-- Sidebar Start -->
<div class="col-xs-6 col-sm-4 sidebar-offcanvas pull-right" id="sidebar" role="navigation">
  <div class="pf-sidebar header NoAffix footnote" id="sideNav" role="complementary">
		<ul class="nav pf-sidenav black">
			<li class="active"><a href="{{site.baseurl}}pages/join-pathway.html"><span class="caret"></span>Join Pathway</a>
				<ul class="nav drop-down">
					<li><a href="#AdmissionRequirements">Admission Requirements</a></li>
					<li><a href="#ApplyToPathway">Apply to Pathway</a></li>
				</ul>
			</li>
			<li><a href="#LocationFinderMap"><span class="caret"></span>Find a Location</a></li>
		</ul>
	</div>
</div>
<!-- End Sidebar -->