<!-- Sidebar Start -->
<div class="col-xs-6 col-sm-4 sidebar-offcanvas pull-right" id="sidebar" role="navigation">
  <div class="pf-sidebar header NoAffix footnote" id="sideNav" role="complementary">
    <ul class="nav navy_blue pf-sidenav">
      <li {% if page.title == "Using Pathway" %} class="active" {% endif %}><a href="{{site.baseurl}}pages/local_leaders/using-pathway.html"> <span class="caret"></span> Using Pathway in Your Ministry</a></li>
      <li {% if page.title == "Getting Started" %} class="active" {% endif %}><a href="{{site.baseurl}}pages/local_leaders/getting-started.html"> <span class="caret"></span> Getting Started</a> </li>
      <li {% if page.title == "Roles and Responsibilities" %} class="active" {% endif %}> <a href="{{site.baseurl}}pages/local_leaders/roles-responsibilities.html"> <span class="caret"></span> Roles &amp; Responsibilities</a></li>
      <li {% if page.title == "Request a Site" %} class="active" {% endif %}><a href="{{site.baseurl}}pages/local_leaders/request-a-site.html"> <span class="caret"></span> Request a Site</a></li>
      <li><a href="{{site.baseurl}}pages/testimonials/testimonials.html"> <span class="caret"></span> The Pathway Experience</a></li>
    </ul>
  </div>
</div>
<!-- End Sidebar -->