<!-- Sidebar Start -->
<div class="col-xs-6 col-sm-4 pull-right" id="sidebar" role="navigation">
	<div class="pf-sidebar" id="sideNav" role="complementary">
		<div class="sidebar-caret {% if page.version == "standard" %} pos1 {% endif %} {% if page.version == "l" %} pos2 {% endif %} "></div>
		<h3><a {% if page.version == "standard" %} class="active" {% endif %} href="../s_version/HPW.html"><img src="{{site.baseurl}}img/wip/icons/standard.png" alt="Standard Logo" width="51" height="52"> Standard</a></h3>
		{% if page.version == "standard" %}
		<ul class="nav red pf-sidenav">
			<li {% if page.title == "How Pathway Works" %} class="active" {% endif %} ><a href="{{site.baseurl}}pages/what_is_pathway/s_version/HPW.html"><span class="caret down"></span>How Pathway Works</a>
				<ul class="nav drop-down">
					<li><a href="#OnlineAcademicCourses">Online Academic Courses</a></li>
					<li><a href="#ReligionClasses">Religion Courses</a></li>
					<li><a href="#WeeklyGathering">Weekly Gathering</a></li>
					<li><a href="#AgeGroups">Age Groups</a></li>
				</ul>
			</li>
			<li {% if page.title == "Service Missionaries" %}class="active"{% endif %} ><a href="{{site.baseurl}}pages/what_is_pathway/s_version/service_missionaries.html"><span class="caret"></span>Service Missionaries</a></li>
			<li {% if page.title == "Admission Requirements" %}class="active"{% endif %} ><a href="{{site.baseurl}}pages/what_is_pathway/s_version/admission.html"><span class="caret"></span>Admission Requirements</a></li>
			<li {% if page.title == "Cost" or page.title == "Calculate Tuition" %}class="active"{% endif %} ><a href="{{site.baseurl}}pages/what_is_pathway/s_version/cost.html"><span class="caret down"></span>Cost</a>
				<ul class="nav">
					<li><a href="{{site.baseurl}}pages/what_is_pathway/s_version/cost_calc_tuition.html">Calculate Tuition</a></li>
					<li><a href="{{site.baseurl}}pages/what_is_pathway/s_version/cost.html#FinancialAid">Financial Aid</a></li>
				</ul>
			</li>
			<li {% if page.title == "Degree Options" %}class="active"{% endif %} ><a href="{{site.baseurl}}pages/what_is_pathway/s_version/degree.html"><span class="caret down"></span>Degree Options</a>
				<ul class="nav">
					<li><a href="#OnlineDegree">Online Degree Program</a></li>
					<li><a href="#Campus">Campus</a></li>
					<li><a href="#OtherUniversities">Other Universities</a></li>
				</ul>
			</li>
			<li {% if page.title == "Course Descriptions" %}class="active"{% endif %} ><a href="{{site.baseurl}}pages/what_is_pathway/s_version/course_descriptions.html"><span class="caret down"></span>Course Descriptions</a></li>
		</ul>
		{% endif %}
		<h3><a {% if page.version == "l" %}class="active"{% endif %} href="{{site.baseurl}}pages/what_is_pathway/l_version/HPW.html"><img src="../../../img/wip/icons/lversion.png" alt="L Version Logo"> L Version</a></h3>
		{% if page.version == "l" %}
		<ul class="nav turquoise pf-sidenav">
			<li {% if page.title == "How Pathway Works" %}class="active"{% endif %} ><a href="{{site.baseurl}}pages/what_is_pathway/l_version/HPW.html"><span class="caret down"></span>How Pathway Works</a>
				<ul class="nav drop-down">
					<li><a href="#OnlineAcademicCourses">Online Academic Courses</a></li>
					<li><a href="#ReligionClasses">Religion Courses</a></li>
					<li><a href="#WeeklyGathering">Weekly Gathering</a></li>
				</ul>
			</li>
			<li {% if page.title == "Speaking Partners" %}class="active"{% endif %} ><a href="{{site.baseurl}}pages/what_is_pathway/l_version/speaking_partners.html"><span class="caret"></span>Speaking Partners</a></li>
			<li {% if page.title == "Service Missionaries" %}class="active"{% endif %} ><a href="{{site.baseurl}}pages/what_is_pathway/l_version/service_missionaries.html"><span class="caret"></span>Service Missionaries</a></li>
			<li {% if page.title == "Admission Requirements" %}class="active"{% endif %} ><a href="{{site.baseurl}}pages/what_is_pathway/l_version/admission.html"><span class="caret"></span>Admission Requirements</a></li>
			<li {% if page.title == "Cost" or page.title == "Calculate Tuition" %}class="active"{% endif %} ><a href="{{site.baseurl}}pages/what_is_pathway/l_version/cost.html"><span class="caret down"></span>Cost</a>
				<ul class="nav">
					<li><a href="{{site.baseurl}}pages/what_is_pathway/l_version/cost_calc_tuition.html">Calculate Tuition</a></li>
					<li><a href="{{site.baseurl}}pages/what_is_pathway/l_version/cost.html#FinancialAid">Financial Aid</a></li>
				</ul>
			</li>
			<li {% if page.title == "Degree Options" %}class="active"{% endif %} ><a href="{{site.baseurl}}pages/what_is_pathway/l_version/degree.html"><span class="caret down"></span>Degree Options</a>
				<ul class="nav">
					<li><a href="#OnlineDegree">Online Degree Program</a></li>
					<li><a href="#Campus">Campus</a></li>
					<li><a href="#OtherUniversities">Other Universities</a></li>
				</ul>
			</li>
			<li {% if page.title == "Course Descriptions" %}class="active"{% endif %} ><a href="{{site.baseurl}}pages/what_is_pathway/l_version/course_descriptions.html"><span class="caret down"></span>Course Descriptions</a></li>
		</ul>
		{% endif %}
		<h3><a href="{{site.baseurl}}pages/pathway-faq.html"><img alt="FAQ icon" src="{{site.baseurl}}img/faq/faqbubble_large.png"> FAQ</a></h3>
		<br>
		{% if page.version == "l" %}<a href="https://pathway.lds.org/Finder/World"><img alt="Apply Now" style="max-width:248px;" class="hidden-sm img-responsive" src="{{site.baseurl}}img/admission/ApplyButton_Lversion.png"><img alt="Apply Now" style="max-width:175px;" class="visible-sm img-responsive" src="{{site.baseurl}}img/admission/ApplyButton_Lversion.png"></a>{% endif %}
		{% if page.version == "standard" %}<a href="https://pathway.lds.org/Finder/World"><img alt="Apply Now" style="max-width:248px;" class="hidden-sm img-responsive" src="{{site.baseurl}}img/admission/ApplyButton_Standard.png"><img alt="Apply Now" style="max-width:175px;" class="visible-sm img-responsive" src="{{site.baseurl}}img/admission/ApplyButton_Standard.png"></a>{% endif %}
	</div>
</div>
<!-- End Sidebar -->