---
---

@import "global";
@import "FunctionLibrary";
@import "header-footer";
@import "sidebar";
@import "BreadCrumb";

.bottom-border {
	border-bottom: 1px solid black;
}

.select-section {
	padding: 20px 0;
}

#user-type, #help-type {
	display: inline-block;
	width: initial;
	margin-left: 8px;
}
// ****************************************************************************
// for the self help suggestions section.
.self-help-list{
	.item {
		width: 49%;
  		padding: 5px 20px 5px 0;
  		display: inline-block;
  		vertical-align: top;
	}
}

.self-help-header{
	font-weight: bold;
	text-transform: uppercase;
	color: $red;
	letter-spacing: 1px;
	margin-top: 25px;
	margin-bottom: 8px;
}

.question-close {
	display: none;
	background: green;
	color: white;
	line-height: 24px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 26px;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #666;
	border-radius: 12px;

	&:hover {
		text-decoration: none;
		color: white;
	}
}

.show-question {
	display: none;

	div {
		float: left;
		text-align: left;
		position: relative;
		background-color: white;
		display: block;

		&:only-child {
			position: fixed;
			top: 40%;
			left: 25%;
			opacity: 100%;
			background-color: white;
			width: 60%;
			padding: 20px;
			border-radius: 20px;
			z-index: 100;
			outline: 9999px solid rgba(0,0,0,0.5);
		}

		&.hidden {
			display: none;
		}
	}

	.bold {
		font-weight: bold;
	}

	.italic {
		font-style: italic;
	}

	.small {
		font-size: 10px;
	}

	.green {
		color: green;
	}
}

// ****************************************************************************

// ****************************************************************************
// for the more help section.
.more-help-header {
	display: block;
	position: relative;
	overflow: hidden;

	.more-help {
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.12em;
		margin: 30px 10px 30px 60px;
	}

	.more-help-icon {
		display: block;
		position: absolute;
		background-image: url("{{site.baseurl}}img/contact-us/Need-More-Help.png");
		background-repeat: no-repeat;
		background-position: center;
		height: 50px;
		width: 50px;
		top: 12px;
	}
}
// ****************************************************************************

// ****************************************************************************
// for the contact mode icons.
.icons {
	height: 160px;
}

.iconic {
	display: block;
	height: 150px;

	.icon-btn {
   		cursor: pointer;
   		margin: auto;
	}

	&:hover {
		text-decoration: none;
	}

	.recommended {
		display: block;
		height: 120px;
		margin: 0;
		padding: 0;

		.icon-btn {
			border: solid 1px $red;
		}

		&:after {
			content: "recommended";
	        text-transform: uppercase;
	        width:120px;
	        font-size: 9px;
	        letter-spacing: 0.09em;
			background-color: $red;
			color: white;
			display: block;
			text-align: center;
			border: solid 1px $red;
			margin: 0 auto;
			padding: 3px 0;
		}
	}

	div:not(.recommended) {
		display: block;
		height: 120px;
	}

	#Phone {
		background-image: url("{{site.baseurl}}img/contact-us/Phone.png");
		display: block;		
		background-repeat: no-repeat;
		background-position: 50% 45%;
		height: 110px;
		width: 120px;

		&:hover {
			background-image: url("{{site.baseurl}}img/contact-us/Phone_hover.png");
		}
	}

	#Email {
		background-image: url("{{site.baseurl}}img/contact-us/Email.png");
		display: block;		
		background-repeat: no-repeat;
		background-position: 65% 61%;
		height: 110px;
		width: 120px;

		&:hover {
			background-image: url("{{site.baseurl}}img/contact-us/Email_hover.png");
		}
	}

	#Chat {
		background-image: url("{{site.baseurl}}img/contact-us/Chat.png" );
		display: block;		
		background-repeat: no-repeat;
		background-position: 50% 50%;
		height: 110px;
		width: 120px;

		&:hover {
			background-image: url("{{site.baseurl}}img/contact-us/Chat_hover.png");
		}
	}	
}
// ****************************************************************************

// ****************************************************************************
// for the contact by e-mail form.
.info-email {
	position: relative;

	.icon {
		display: block;
	}

	.contact-email-form {
		//form styles
	}

	input[type=submit] {
		background-color: $turquoise;
	}
}
// ****************************************************************************

// ****************************************************************************
// for the contact by phone box
.info-phone {

	.icon img {
		display:block;
		padding: 0 8px 7px 8px;
	}
	
	.numbers-box {
		display: block;
		background-color: red;
		color: white;
		font-size: 80%;
		padding: 3px 15px;
		text-transform: uppercase;
	}

	.bold {
		font-weight: bold;
	}

	.italic {
		font-style: italic;
	}

	.small {
		font-size: 10px;
	}
}
// ****************************************************************************

