---
---

@import "global";
@import "FunctionLibrary";
@import "header-footer";
@import "sidebar";
@import "BreadCrumb";

.show-question {
	opacity: 0;
	z-index: 99999;
	pointer-events: none;

	div {
		opacity: 0;
		border-radius: 20px;
		float: left;
		top: 35%;
		left: 25%;
		background-color: white;

		.green {
			color: green;
			font-weight: bold;
		}

		.bold {
			font-weight: bold;
		}
	}
}

.show-question.on {
	opacity: 1;
	pointer-events: auto;
}

.show-question:target {
	opacity: 1;
	pointer-events: auto;
}

.question-close {
	background: green;
	color: white;
	line-height: 24px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 26px;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #666;
	border-radius: 12px;
}

#info-email {
	opacity: 0;
	z-index: 99999;
	pointer-events: none;
	float: left;
}

#info-email.on {
    opacity: 1;
	pointer-events: auto;

	div {
		opacity: 1;
	}
}

#info-email:target {
	opacity:1;
	pointer-events: auto;
}

.phone-close {
	background: red;
	color: white;
	line-height: 24px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 26px;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #666;
	border-radius: 12px;
}

#info-phone.on {
	opacity:1;
	pointer-events: auto;

	div {
		opacity:1;
	}
}

#info-phone:target {
	opacity:1;
	pointer-events: auto;
}

#info-phone {
	opacity: 00;
	z-index: 99999;
	pointer-events: none;

    div {
		opacity: 00;
		padding: 20px;
		border: solid 3px red;
		border-radius: 20px;
		float: left;
		text-align: center;
		position: absolute;
		top: 35%;
		left: 25%;
		background-color: white;        
		box-shadow: 5px 5px 10px #222;

		display: block;
  		position: absolute;
  		left: 140px;
 		top: 247px;
	}
	
	.numbers-box {
		background-color: red;
		color: white;
		display: block;
		font-variant: small-caps;
	}

	.bold {
		font-weight: bold;
	}

	.italic {
		font-style: italic;
	}

	.small {
		font-size: 10px;
	}
}

.icons {
	height: 160px;
}

.iconic {
	display: block;
	height: 150px;

	.icon-btn {
   		cursor: pointer;
	}

	.recommended {
		display: block;
		height: 120px;
		width: 120px;
		margin: 0;
		padding: 0;

		.icon-btn {
			border: solid 1px red;
		}
	}

	.recommended::after {
		content: "recommended";
        font-variant: small-caps;
		background-color: red;
		color: white;
		display: block;
		text-align: center;
		border: solid 1px red;
		margin: 0;
		padding: 0;
	}

	div:not(.recommended) {
		display: block;
		height: 120px;
		width: 120px;
	}

	#Phone {
		background-image: url("{{site.baseurl}}img/contact-us/Phone.png");
		display: block;		
		background-repeat: no-repeat;
		background-position: 50% 45%;
		height: 110px;
		width: 120px;

		&:hover {
			background-image: url("{{site.baseurl}}img/contact-us/Phone_hover.png");
		}
	}

	#Email {
		background-image: url("{{site.baseurl}}img/contact-us/Email.png");
		display: block;		
		background-repeat: no-repeat;
		background-position: 65% 61%;
		height: 110px;
		width: 120px;

		&:hover {
			background-image: url("{{site.baseurl}}img/contact-us/Email_hover.png");
		}
	}

	

	#Chat {
		background-image: url("{{site.baseurl}}img/contact-us/Chat.png" );
		display: block;		
		background-repeat: no-repeat;
		background-position: 50% 50%;
		height: 110px;
		width: 120px;

		&:hover {
			background-image: url("{{site.baseurl}}img/contact-us/Chat_hover.png" );
		}
	}	
}

.more-help {
	display: inline-block;
	background-image: url("{{site.baseurl}}img/contact-us/Need-More-Help.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;
	width: 50px;
	margin-top: 10px;
}

form div{
	width: 100%;
}

.contact-navigator {
	position: relative;
	margin: 10px -8px;
	overflow: hidden;

	.contact-tab {
		display: table;
		width: 20%;
		float: left;
		text-align: center;
		padding: 0 8px;

		.tab-inner {
			position: relative;
			display: table-cell;
			border: black 1px solid;
			text-transform: uppercase;
			color: white;
			letter-spacing: .09em;
			padding: 3px 5px 11px 5px;
			line-height: 130%;
			height: 60px;
			vertical-align: middle;
			font-weight: bold;

			&:after {
				content: "";
				display: block;
				position: absolute;
				border: 7px transparent solid;
				border-bottom-width: 0;
				border-top-color: rgba(0,0,0,.4);
				width: 0;
				height: 0;
				bottom: 4px;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;

			}

			&.orange {
				background: $pathway-orange;
				border-color: $pathway-orange;
			}
			&.turquoise {
				background: $turquoise;
				border-color: $turquoise;
			}
			&.red {
				background: $red;
				border-color: $red;
			}
			&.teal {
				background: $teal;
				border-color: $teal;
			}
			&.green {
				background: $green;
				border-color: $green;
			}

			&:hover {
				background: white;
				color: black;
				cursor: pointer;

			}
		}
	}
}