---
---

@import "global";
@import "FunctionLibrary";
@import "header-footer";
@import "sidebar";
@import "BreadCrumb";

#Phone {
	display: inline-block;
	background-image: url("{{site.baseurl}}img/contact-us/Phone.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 75px;
}

#Email {
	display: inline-block;
	background-image: url("{{site.baseurl}}img/contact-us/Email.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 75px;
}

#Chat {
	display: inline-block;
	background-image: url("{{site.baseurl}}img/contact-us/Chat.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 75px;
}

.recommended-on {
	display: inline-block;
	background-image: url("{{site.baseurl}}img/contact-us/Recommended-Square.png");
	background-repeat: no-repeat;
	background-position: center;
}

form div{
	width: 100%;
}

.contact-navigator {
	position: relative;
	margin: 10px -8px;
	overflow: hidden;

	.contact-tab {
		display: table;
		width: 20%;
		float: left;
		text-align: center;
		padding: 0 8px;

		.tab-inner {
			position: relative;
			display: table-cell;
			border: black 1px solid;
			text-transform: uppercase;
			color: white;
			letter-spacing: .09em;
			padding: 3px 5px 11px 5px;
			line-height: 130%;
			height: 60px;
			vertical-align: middle;
			font-weight: bold;

			&:after {
				content: "";
				display: block;
				position: absolute;
				border: 7px transparent solid;
				border-bottom-width: 0;
				border-top-color: rgba(0,0,0,.4);
				width: 0;
				height: 0;
				bottom: 4px;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;

			}

			&.orange {
				background: $pathway-orange;
				border-color: $pathway-orange;
			}
			&.turquoise {
				background: $turquoise;
				border-color: $turquoise;
			}
			&.red {
				background: $red;
				border-color: $red;
			}
			&.teal {
				background: $teal;
				border-color: $teal;
			}
			&.green {
				background: $green;
				border-color: $green;
			}

			&:hover {
				background: white;
				color: black;
				cursor: pointer;

			}
		}
	}
}