---
---

@import "global";
@import "FunctionLibrary";
@import "header-footer";
@import "sidebar";
@import "BreadCrumb";
@import "content_body";

.collapsible {
	display:block;
	overflow:hidden;
}

.p-heading {
	cursor: pointer;
	@for $i from 1 through 5 {
		&.#{nth($nav_color_labels, $i)}{
			a {
				color: nth($nav_color_list, $i);
			}
		}
	}
}