---
---

@import "global";
@import "FunctionLibrary";
@import "header-footer";
@import "sidebar";
@import "BreadCrumb";

.contact-navigator {
	position: relative;
	margin: -1px -5px;
	overflow: hidden;

	.contact-tab {
		display: table;
		width: 	16.65%;
		float: left;
		text-align: center;
		padding: 0 5px;

		&.active {
			.tab-inner {
				background: white !important;
				color: black;
				border-bottom: 0 !important;
				height: 70px;
			}
		}

		.tab-inner {
			position: relative;
			display: table-cell;
			border: black 1px solid;
			text-transform: uppercase;
			color: white;
			letter-spacing: .09em;
			padding: 3px 5px 11px 5px;
			line-height: 130%;
			height: 60px;
			vertical-align: middle;
			font-weight: bold;
			text-decoration: none;

			&:after {
				content: "";
				display: block;
				position: absolute;
				border: 7px transparent solid;
				border-bottom-width: 0;
				border-top-color: rgba(0,0,0,.4);
				width: 0;
				height: 0;
				bottom: 4px;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;

			}

			&.orange {
				background: $pathway-orange;
				border-color: $pathway-orange;
			}
			&.turquoise {
				background: $turquoise;
				border-color: $turquoise;
			}
			&.red {
				background: $red;
				border-color: $red;
			}
			&.teal {
				background: $teal;
				border-color: $teal;
			}
			&.green {
				background: $green;
				border-color: $green;
			}
			&.navy_blue {
				background: $navy_blue;
				border-color: $navy_blue;
			}

			&:hover {
				background: white;
				color: black;
				cursor: pointer;

			}
		}
	}
}

.tab-content {
	.tab-pane {
		border: 1px solid black;
		padding: 20px;
		color: black;
		height: 240px;
		width: 99.9%;

		.img-tab {
			background-repeat: no-repeat;
			background-size: contain;
			height: 100%;
		}

		a {
			display: inline-block;
			width: 100%;
		}

		.sub-tab {
			padding-right: 0;
			margin-right: 0;

			a {
				padding: 10px;

				.italic {
					font-style: italic;
					font-size: 80%;
				}
			}

			.arrow {
				display: inline-block;
				border-style: solid;
				border-width: 7px 7px;
				height: 0;
				width: 0;
				opacity: 0;
			}

			a.active .arrow {
					opacity: 100;
			}
		}

		.last-tab {
			
			.bold {
				text-transform: uppercase;
				font-size: 80%;
				font-weight: bold;

				&:last-child {
					text-decoration: underline;
				}				
			}
		}

		&.orange {
			border-color: $pathway-orange;

			.bold {
				color: $pathway-orange;
			}

			#apply-to-pathway {
				background-image: url("{{site.baseurl}}img/join-pathway/JoinPathway_ApplyToPathway.png");
			}

			.sub-tab {

				a.active {
					background-color: #fbebd0;
				}

				.arrow {
					border-color: transparent transparent transparent $pathway-orange;
				}
			}

			.last-tab {
				background-color: #fbebd0;
				height: 200px;
				padding-left: 20px;
			}
		}
		&.turquoise {
			border-color: $turquoise;
		}
		&.red {
			border-color: $red;
		}
		&.teal {
			border-color: $teal;
		}
		&.green {
			border-color: $green;
		}
		&.blue {
			border-color: $navy_blue;
		}
	}
}
