---
---

@import "global";
@import "FunctionLibrary";
@import "header-footer";
@import "sidebar";
@import "BreadCrumb";

.page-title {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, serif;
	color: $teal;
	text-transform: uppercase;
	letter-spacing: 0.09em;
	font-size: 250%;
}
.main-content {
  padding-right: 40px;
}

.icon-header {
	position: relative;
	display: block;
	font-size: 160%;
	font-weight: normal;
	padding: 15px 0 20px 60px;

	.narrow-bold {
		font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, serif;
		font-weight: bold;
		text-transform: uppercase;
	}

	img.icon {
		position: absolute;
		left:0;
	}
}

.section-header {
	position: relative;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, serif;
	background-color: $red;
	text-transform: uppercase;
	color: white;
	font-size: 120%;
	letter-spacing: 0.08em;
	margin: 20px 0 20px 28px;
	padding: 2px 20px;

	img {
		position: absolute;
		left:-28px;
		&.check {
			top:-3px;
		}
		&.page {
			top:-5px;
		}
	}
}

.admissions-req {
	padding-left: 70px;
	margin-bottom: 30px;

	li {
		margin-bottom: 10px;
	}
}

.apply-sect {
	padding-left: 50px;

	.map_bg{
		background-image:url('{{site.baseurl}}img/join-pathway/JoinPathway_Map.png');
		background-repeat: no-repeat;
	}

	.apply-header {
		position: relative;
		font-family: "Helvetica Neue", Helvetica, serif;
		font-weight: bold;
		color: $teal;
		font-size: 150%;
		padding-left: 42px;
		letter-spacing: 0.08em;
		padding-top: 5px;
		padding-bottom: 5px;

		&:before {
			position: absolute;
			left: 0;
			top: 3px;
			display: block;
			background-color: $teal;
			font-size: 100%;
			border-radius: 99px;
			color:white;
			width: 31px;
  			height: 31px;
  			padding: 1px 10px;
  		}
  		&#first:before {
  			content: '1';
  		}
  		&#second:before {
  			content: '2';
  		}
  	}
  	.apply-subsection {
  		padding-left: 42px;
  		margin-bottom: 20px;

  		.dropdown-header {
  			position: relative;
  			text-transform: uppercase;
  			font-size: 100%;
  			letter-spacing: 0.08em;
  			color: $teal;
  			padding-left: 23px;
  			cursor: pointer;
  			&:before {
  				content: "";
  				position: absolute;
  				left: 0;
  				width:0;
  				height: 0;
  				border: 7px solid transparent;
  				border-left: 12px solid $teal;
  				transition:all .3s;
				-ms-transform-origin: 10% 50%; /* IE 9 */
				-webkit-transform-origin: 10% 50%; /* Chrome, Safari, Opera */
				transform-origin: 10% 50%;
			}
			&.active:before {
	    		-ms-transform: rotate(90deg); /* IE 9 */
			    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
			    transform: rotate(90deg);
			}
		}
		.dropdown {
			font-size: 100%;
			padding-left: 23px;
			margin-bottom: 20px;
		}
	}
	.h-rule {
		border-bottom: 2px $teal solid;
	}
}

