---
---

@import "global";
@import "FunctionLibrary";
@import "header-footer";
@import "sidebar";
@import "BreadCrumb";
@import "content_body";
@import "BreadCrumb";

/* local leaders specific styles */
.instructions{
	position: relative;
	margin: 0;
	margin-left: 30px;
	padding: 0;
	list-style: none;

	counter-reset: li-counter;

	> li {
		position: relative;
    	margin: 0;
    	margin-top: 10px;
    	padding-left: 10px;
    	min-height: 3em;

		&:before {
			position: absolute;
		    top: 0;
		    left: -30px;
		    width: 30px;
		    height: 30px;
		     
		    font-size: 130%;
		    line-height: 1.7;
		    text-align: center;
		    color: #fff;
		 
		    border-radius: 50%;
		    background-color: #173e6b;
		    content: counter(li-counter);
		    counter-increment: li-counter;
		}
	}

	ul {
		list-style: none;
		color: #666666;
		padding-left: 25px;
		a {
			color:#dc4831;
		}
	}
}