---
---

@import "global";
@import "FunctionLibrary";
@import "header-footer";
@import "sidebar";
@import "BreadCrumb";
@import "content_body";

/* Styles Here */
h1 {
	margin-top: 0;
}
h5 {
	margin: 23px 0 0 0;
	font-size: 90%;
	letter-spacing: 0.09em;
	text-transform: uppercase;
}

.pf-page-header {
	display: none;

	&.show {
		display: block;
	}
}

.pf-section {
	display: none;

	&.show {
		display: block;
	}
}